<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>EasyShop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="../productStyle.css">
</head>

<body>

	<div class="container my-2" style="margin-top: 25px; text-align: center;">
		<h1>Sale History</h1>

		<a th:href="@{/sellerHome}" class="btn btn-primary btn-sm mb-3">Home</a>

		<!--<div>
			<h7 style="color: green; text-align: center;"><span th:text="${productSaveSuccessMsg}"></span></h7>
		</div>
		<div>
			<h7 style="color: red; text-align: center;"><span th:text="${productSaveFailMsg}"></span></h5>
		</div>
		<div>
			<h7 style="color:green; text-align: center;"><span th:text="${deleteSuccessMsg}"></span></h5>
		</div>
		<div>
			<h7 style="color: red; text-align: center;"><span th:text="${deleteFailedMsg}"></span></h5>
		</div>
		<div>
			<h7 style="color:green; text-align: center;"><span th:text="${updateSuccessMsg}"></span></h5>
		</div>
		<div>
			<h7 style="color: red; text-align: center;"><span th:text="${updateFailedMsg}"></span></h5>
		</div>-->
		<br>
		<br>
		<div class="mb-4">
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<!--<th>Product Image</th>-->
					<th></th>
					<th>Product Name</th>
					<th>Cost Price<span>(&#8377)</span></th>
					<th>Price<span>(&#8377)</span></th>
					<th>Quantity</th>
					<th>Total Amount</th>
					<th>Sell Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product, row : ${productList}">

					<!--<td th:text="${product.productImage}"></td>-->
					<td th:text="${row.count}"></td>
					<td th:text="${product.productName}"></td>
					<td th:text="${product.productcostPrice}"></td>
					<td th:text="${product.productsellPrice}"></td>
					<td th:text="${product.buyUnits}"></td>
					<td th:text="${product.buyUnits*product.productsellPrice}"></td>
					<td th:text="${#dates.format(product.purchaseDate, 'dd/MMM/yyyy')}"></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</body>

</html>